.header-social {
  list-style: none;
}

.header-social-icons {
  display: flex;
  list-style: none;
  justify-content: center;
  text-decoration: none;
}

.white-text {
  color: white;
}

.skills-icon {
  height: 100px;
  width: 100px;
}

.project-img {
  width: 80%;
  box-sizing: inherit;
}

.project-li {
  background-color: rgba(0, 0, 0, 0.25);
  align-items: center;
  border-radius: 15px;
  list-style: none;
  padding: 30px 10px 30px 10px;
  margin: 30px;
}

.project-description {
  margin: 15px 15px 0 15px;
}

.skill-link {
  text-decoration: none;
}

.project-title-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-logo {
  height: 50px;
  width: 50px;
  margin-bottom: 25px;
}

.title-logo-drum {
  height: 50px;
  width: 50px;
  margin-bottom: 25px;
  margin-left: 5px;
}

@media only screen and (device-width : 375px) {
  .features li {
    margin: 15px;
  }
}

@media only screen and (device-width : 414px) {
  .features li {
    margin: 15px;
  }
}